@inherits LayoutComponentBase
@layout AccountLayout



<SiliconWebApp.Components.Pages.Shared.Header />

<section class="account-deets">
    <div class="container">
        <aside>
            <ManageNavMenu />
        </aside>
        <div class="content">
            @Body
        </div>
    </div>
</section>

<SiliconWebApp.Components.Pages.Shared.Footer />

@code {

}
