@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using SiliconWebApp.Data

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider



    <div class="profile">
        <div class="profile-image"></div>
        <div class="profile-info">
            <NavLink><a class="btn-transparent" href="Account/Manage" Match="NavLinkMatch.All">Profile</a></NavLink>
            <NavLink><a class="btn-transparent" href="Account/Manage/Index"><i class="fa-solid fa-arrow-right-to-bracket"></i>Profile Info</a></NavLink>
            <NavLink><a class="btn-transparent" href="Account/Manage/SavedCourses"><i class="fa-solid fa-arrow-right-to-bracket"></i>Saved Courses</a></NavLink>
            <NavLink><a class="btn-transparent" href="Account/Manage/Security"><i class="fa-solid fa-arrow-right-to-bracket"></i>Security</a></NavLink>
            <NavLink><a class="btn-transparent" href="Account/Shared/LogOut"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign Out</a></NavLink>
        </div>
    </div>


@code {
    private void HandleSignOut()
    {
        NavigationManager.NavigateTo("authentication/logout", forceLoad: true);
    }
}
